.blue{
    background-color: cadetblue;
    color: white;
}

.red{
    background-color: red;
    color: white;
}

.green{
    background-color: greenyellow;
    color: white;
}

.yellow{
    background-color: yellow;
    color: white;
}